{% extends 'base.html.twig' %}

{% block header %}
  <h1>{{ app.user.firstname }} {{ app.user.surname }}: Edit Details</h1>
{% endblock %}

{% block main %}
  {% include '_includes/back-button.html.twig' %}
  <div class="form">
    {{ form_start(userDetailsForm) }}
      {{ form_row(userDetailsForm.username) }}
      <div class="columns">
        <div class="column">
          {{ form_row(userDetailsForm.firstname) }}
        </div>
        <div class="column">
          {{ form_row(userDetailsForm.surname) }}
        </div>
      </div>
      {{ form_row(userDetailsForm.over13) }}
      {{ form_row(userDetailsForm.guardianFullname) }}
      <div class="columns">
        <div class="column">
          {{ form_row(userDetailsForm.schoolName) }}
        </div>
        <div class="column">
          {{ form_row(userDetailsForm.schoolPostcode) }}
        </div>
      </div>
      {{ form_row(userDetailsForm._token) }}
      <div class="form-buttons">
        <button type="submit" class="green button">Update</button>
      </div>
    {{ form_end(userDetailsForm) }}
  </div>
{% endblock %}
