{% extends 'base.html.twig' %}

{% block header %}
  <h1>Welcome {{ app.user.firstname }} {{ app.user.surname }}</h1>
{% endblock %}

{% block main %}
  <p>Welcome to your account area on our site. Click on the links below to manage your account.</p>
  <ul>
    <li><a href="{{ path('account_details') }}">Edit your personal details</a></li>
    <li><a href="{{ path('account_password') }}">Change your password</a></li>
    <li><a href="{{ path('account_files') }}">Manage your files</a></li>
  </ul>
{% endblock %}
