{% extends 'base.html.twig' %}

{% block header %}
  <h1>{{ app.user.firstname }} {{ app.user.surname }}: Change Password</h1>
{% endblock %}

{% block main %}
  {% include '_includes/back-button.html.twig' %}
  <div class="form">
    {{ form_start(changePasswordForm) }}
      {{ form_row(changePasswordForm.currentPassword) }}
      <div class="columns">
        <div class="column">
          {{ form_row(changePasswordForm.newPassword.first) }}
        </div>
        <div class="column">
          {{ form_row(changePasswordForm.newPassword.second) }}
        </div>
      </div>
      {{ form_row(changePasswordForm._token) }}
      <div class="form-buttons">
        <button type="submit" class="green button">Change Password</button>
      </div>
    {{ form_end(changePasswordForm) }}
  </div>
{% endblock %}
