<div class="site-menu">
  <a data-action="toggleMenu" data-arg="site">
    <span class="icon logo"><img src="{{ asset('images/turtle.png') }}" alt="turtle logo"></img></span>
    <span class="text">The Turtle System</span>
    <span class="icon"><i class="fa fa-caret-down"></i></span>
  </a>
  <div class="site-sub-menu" data-menu="site">
    <a href="{{ path('home') }}" class="{% if section == 'home' %} active{% endif %}">
      <span class="icon logo"><img src="{{ asset('images/turtle.png') }}" alt="turtle logo"></img></span>
      <span class="text">The Turtle System</spab>
    </a>
    <a href="{{ path('run') }}" class="{% if section == 'run' %} active{% endif %}">
      <span class="icon"><i class="fa fa-play"></i></span>
      <span class="text">Run</span>
    </a>
    <div class="site-menu">
      <a class="{% if section == 'documentation' %} active{% endif %}" data-action="toggleMenu" data-arg="documentation">
        <span class="icon"><i class="fa fa-book"></i></span>
        <span class="text">Documentation</span>
        <span class="icon"><i class="fa fa-caret-down"></i></span>
      </a>
      <div class="site-sub-menu" data-menu="documentation">
        <a href="{{ path('documentation_system') }}" class="{% if route == 'documentation_system' %} active{% endif %}">Turtle System User Guide</a>
        <a href="{{ path('documentation_help') }}" class="{% if route == 'documentation_help' %} active{% endif %}">Turtle Languages Help</a>
        <a href="{{ path('documentation_reference') }}" class="{% if route == 'documentation_reference' %} active{% endif %}">Commands &amp; Constants Reference</a>
        <a href="{{ path('documentation_exercises') }}" class="{% if route == 'documentation_exercises' %} active{% endif %}">Self-Teach Exercises</a>
        <a href="{{ path('documentation_machine') }}" class="{% if route == 'documentation_machine' %} active{% endif %}">Turtle Machine Specification</a>
        <a href="{{ path('documentation_languages') }}" class="{% if route == 'documentation_languages' %} active{% endif %}">Turtle Languages Specifications</a>
        <a href="{{ path('documentation_csac') }}" class="{% if route == 'documentation_csac' %} active{% endif %}">Computer Science Across the Curriculum</a>
        <a href="{{ path('documentation_reading') }}" class="{% if route == 'documentation_reading' %} active{% endif %}">Further Reading</a>
      </div>
    </div>
    <a href="{{ path('about') }}" class="{% if section == 'about' %} active{% endif %}">
      <span class="icon"><i class="fa fa-info"></i></span>
      <span class="text">About</span>
    </a>
    <a href="{{ path('contact') }}" class="{% if section == 'contact' %} active{% endif %}">
      <span class="icon"><i class="fa fa-at"></i></span>
      <span class="text">Contact</span>
    </a>
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('admin_index') }}" class="{% if section == 'admin' %} active{% endif %}">
        <span class="icon"><i class="fa fa-cogs"></i></span>
        <span class="text">Admin</span>
      </a>
    {% endif %}
  </div>
</div>
