{% if app.user %}
  <div class="site-menu">
    <a class="{% if section == 'account' %} active{% endif %}" data-action="toggleMenu" data-arg="user">
      <span class="icon"><i class="fa fa-user"></i></span>
      <span class="text">{{ app.user.username }}</span>
      <span class="icon"><i class="fa fa-caret-down"></i></span>
    </a>
    <div class="site-sub-menu" data-menu="user">
      {% if is_granted('ROLE_VERIFIED') %}
        <a href="{{ path('account_index') }}" class="{% if section == 'account' %} active{% endif %}">My Account</a>
        <a href="{{ path('files_index') }}" class="{% if section == 'files' %} active{% endif %}">My Files</a>
      {% endif %}
      <a href="{{ path('logout') }}" class="">Logout</a>
    </div>
  </div>
{% else %}
  <a href="{{ path('register') }}" class="{% if section == 'register' %} active{% endif %}">
    <span class="icon"><i class="fa fa-user-plus"></i></span>
    <span class="text">Register</span>
  </a>
  <a href="{{ path('login') }}" class="{% if section == 'login' %} active{% endif %}">
    <span class="icon"><i class="fa fa-sign-in-alt"></i></span>
    <span class="text">Sign In</span>
  </a>
{% endif %}
