{% extends 'base.html.twig' %}

{% block header %}
  <h1>The Turtle System</h1>
  <p>The <i>Turtle System</i> is a free educational program developed at the University of Oxford, designed to support the new Computer Science component of the National Curriculum, and to bridge the &ldquo;Post-<i>Scratch</i> Gap&rdquo; between visual programming systems like <i>Scratch</i> and text-based programming. It supports several languages, all of which are compiled to portable code for a virtual <i>Turtle Machine</i>. The workings of the compilers and of the <i>Turtle Machine</i> are all open to inspection, providing many additional learning opportunities for advanced students.</p>
{% endblock %}

{% block main %}
  <div class="download">
    <h2>Download for Windows</h2>
    <select id="version-select">
      <option value="14">v14</option>
      <option value="15" selected>v15</option>
    </select>
    <a href="{{ path('turtle_download', { 'version': '15' }) }}" class="button" id="download-link">
      <span class="icon"><i class="fa fa-download"></i></span>
      <span class="text">The Turtle System</span>
    </a>
  </div>
  <p>The <i>Turtle System</i> is available as a traditional desktop app for Windows, downloable from the button above. No installation is required; simply double-click the file to run it. The first time you run the program, Windows may warn you that it is of unknown origin, and therefore potentially unsafe. To run it, click ‘More Information’ and then ‘Run Anyway’.</p>
  <p>Version 15, which includes Turtle Python, is now available. The implementation of Turtle Python is largely complete, but missing the more complex data structures (lists, tuples, and dictionaries). These will be added soon. While version 15 is still being tested and developed, the more stable version 14 (which includes Turtle BASIC and Turtle Pascal, but not Turtle Python) will remain available.</p>
  <h2>Run Online and on other Platforms</h2>
  <p>The <i>Turtle System</i> is also available as a progressive web app, which can be run directly in your browser (click on <a href="{{ path('run') }}">Run</a> in the main site menu), and installed for offline use (look for the ‘+’ icon in your address bar or the ‘Add to Home Screen’ prompt on your phone’s browser). This version currently supports more languages than the desktop application, but does not yet support file handling. When file handling is implemented, it will enable reading and writing files to your personal space on our server, which is created for you when you register for an account on this site.</p>
  <h2>Further Information</h2>
  <p>Please see the <a href="{{ path('documentation') }}">Documentation</a> section for detailed information about the <i>Turtle System</i> and how to use it. For a discussion of the principles behind the System, see the <a href="{{ path('about') }}">About</a> page, or Peter Millican’s articles in <a href="http://www.computingatschool.org.uk/">Computing at School</a>’s <a href="http://community.computingatschool.org.uk/resources/3127">SwitchedOn</a> magazine.</p>
  <p>As part of a joint project between Oxford University and Queen Mary, University of London, and with funding from the Department for Education, a book entitled ‘Computer Science Across the Curriculum’ has been written, to illustrate the value of Computer Science in various different aspects of the national curriculum. For details, and links to the example programs, see the <a href="{{ path('documentation_csac') }}">Computer Science Across the Curriculum</a> page.</p>
  <p>For any additional information, or to make suggestions for future developments, please <a href="{{ path('contact') }}">contact us</a>.</p>
{% endblock %}
