{% extends 'base.html.twig' %}

{% block header %}
  <h1>Email Users</h1>
{% endblock %}

{% block main %}
  {% include '_includes/back-button.html.twig' %}
  <div class="form">
    {{ form_start(bulkEmailForm) }}
      {{ form_row(bulkEmailForm.subject) }}
      {{ form_row(bulkEmailForm.content) }}
      {{ form_row(bulkEmailForm._token) }}
      <div class="form-buttons">
        <button type="submit" class="green button">Send Email</button>
      </div>
    {{ form_end(bulkEmailForm) }}
  </div>
{% endblock %}
